@import "styles/utils/variables";
@import "styles/utils/mixin";

.card {
  padding: 24px;
  border-bottom: 1px solid $grey15;
  transition: max-height 1s ease-out;
  max-height: 200px;

  &.active {
    max-height: 400px;
  }

  .main {
    @include flex(row, center, center, 20px);

    &.active {
      & .question {
        color: $green70;
      }

      .icon {
        transform: rotateZ(136deg);

        & svg {
          stroke: $green70;
        }
      }
    }

    .number {
      @include flex(column, center, flex-start, 10px);
      width: 52px;
      height: 52px;
      padding: 14px;
      border-radius: 6px;
      border: 1px solid #2E2E2E;
      background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0.00) 100%);
      color: $green50;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }

    .question {
      color: #FFF;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      text-align: left;
    }

    .icon {
      cursor: pointer;
      transition: transform 1s ease;

      & svg {
        width: 26px;
        height: 26px;
      }
    }


  }

  .answer {
    padding-top: 24px;
    color: $paragraph;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }


  @include breakpoint(tablet) {
    .main {

      .question {
        width: 70%;
      }
    }
  }

  @include breakpoint(laptop) {
    max-height: 100px;

    &.active {
      max-height: 250px;
    }

    .main {

      .question {
        width: 80%;
      }
    }

    .answer {
      padding-left: 105px;
      padding-right: 90px;
    }
  }

  @include breakpoint(desktop) {
    max-height: 120px;
    padding: 30px 40px;

    &.active {
      max-height: 250px;
    }

    .main {

      .number {
        padding: 16px;
        width: 62px;
        height: 62px;
        font-size: 24px;
      }

      .question {
        width: 80%;
        font-size: 18px;
      }

      .icon {

        & svg {
          width: 26px;
          height: 26px;
        }

      }
    }

    .answer {
      padding-left: 145px;
      padding-right: 90px;
      font-size: 16px;
    }
  }

  @include breakpoint(large) {
    max-height: 120px;
    padding: 34px 50px;

    &.active {
      max-height: 250px;
    }

    .main {
      @include flex(row, center, center, 24px);

      .number {
        padding: 16px;
        width: 62px;
        height: 62px;
        font-size: 24px;
      }

      .question {
        width: 90%;
        font-size: 22px;
      }

      .icon {

        & svg {
          width: 34px;
          height: 34px;
        }

      }
    }

    .answer {
      padding-left: 100px;
      padding-right: 90px;
      font-size: 18px;
    }
  }


}