@import '../../../styles/utils/variables';
@import '../../../styles/utils/mixin';

.portfolio {
  padding-top: 40px;
  @include flex(column, center, center, 40px);

  .projects{
    @include flex(column, center, center, 40px);
  }


  @include breakpoint(laptop) {
    padding: 80px 0;

    .projects{
      @include flex(row, center, flex-start, 0);
      flex-wrap: wrap;
      border-bottom: 1px solid $grey15;
    }

  }

  @include breakpoint(large) {
    padding: 120px 0;
    @include flex(column, center, center, 50px);

  }
}