@import '../../../styles/utils/variables';
@import '../../../styles/utils/mixin';


.wrapper {
  display: flex;
  flex-direction: column;

  @include breakpoint(laptop) {
    flex-direction: row;
    gap: 10px;
  }
  @include breakpoint(desktop) {
    gap: 250px;
  }

  @include breakpoint(large) {
    gap: 350px;
  }

  .nav {
    @include flex(column, center, center, 15px);

    @include breakpoint(laptop) {
      @include flex(row, center, center, 24px);
    }

    a {
      color: $menuLink;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      align-self: flex-end;
      padding: 12px 10px;

      &.active {
        @include flex(null, flex-start, center, 10px);
        padding: 12px 10px;
        border-radius: 6px;
        background: $menuLinkActive;
        font-size: 14px;

        @include breakpoint(laptop) {
          padding: 12px 22px;
        }
      }
    }

  }
}