@import './variables', './func';


@mixin flex($direction, $justify, $align, $gap ) {

  display: flex;
  @if not $direction {
    flex-direction: row;
  } @else {
    flex-direction: $direction;
  }

  @if not $align {
    align-items: center;
  } @else {
    align-items: $align;
  }

  justify-content: $justify;
  gap: $gap
}

@mixin breakpoint($from, $to: false) {
  @if not $to {
    @media screen and (min-width: getBreakpoint($from)) {
      @content;
    }
  } @else if not $from {
    @media screen and (max-width: (getBreakpoint($to) - 1px)) {
      @content;
    }
  } @else {
    @media screen and (min-width: getBreakpoint($from)) and (max-width: (getBreakpoint($to) - 1px)) {
      @content;
    }
  }
}

