$breakpoints: (
  mobile: 360px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1440px,
  large: 1920px
);


$palettes: (
  green: (
    99: #FDFFFA,
    97: #F9FFF0,
    95: #F5FFE5,
    90: #ECFFCC,
    80: #D8FF99,
    70: #C5FF66,
    60: #B1FF33,
    50: #9EFF00,
  ),
  grey: (
    90: #E6E6E6,
    60: #98989A,
    40: #656567,
    35: #59595A,
    30: #4C4C4D,
    20: #333,
    15: #262626,
    10: #1A1A1A,
  )
);

@function getColor($color, $tone) {
  @return map-get(map-get($palettes, $color), $tone);
}


$black: #000;
$white: #FFF;

$bg-grey: getColor(grey, 10);
$paragraph: getColor(grey, 90);
$button: getColor(green, 50);
$menuLink: getColor(grey, 90);
$menuLinkActive: getColor(grey, 15)



