@import "styles/utils/variables";
@import "styles/utils/mixin";

.clients{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  background: rgba(36, 36, 36, 0.20);


  @include breakpoint(laptop){
    padding: 30px 0 ;
  }

  @include breakpoint(desktop){
    justify-content: space-between;
  }

  .block{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $grey15;
    border-bottom: 1px solid $grey15;
    border-left: 1px solid $grey15;
    width: 179px;

    @include breakpoint(tablet){
      width: 185px;
    }

    @include breakpoint(laptop){
      border: none;
      padding: 16px 30px;
      width: 161px;
    }


  }

}