@import "styles/utils/variables";
@import "styles/utils/mixin";

.card{
  display: flex;
  padding: 40px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-bottom: 1px solid $grey15;

  .title{
    align-self: stretch;
    @include flex(row, flex-start, center, 14px );

    .icon{
      @include flex(column, flex-start, flex-start, 10px );
      padding: 16px;
      gap: 10px;
      border-radius: 6px;
      border: 1px solid #2E2E2E;
      background: linear-gradient(229deg, rgba(158, 255, 0, 0.20) -68.25%, rgba(158, 255, 0, 0.00) 32.16%), linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0.00) 100%);
    }

    & h3{
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.12px;
    }
  }

  & p{
    color: $paragraph;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.084px;
  }

  @include breakpoint(laptop){
    width: 50%;
    border-left: 1px solid $grey15;
    gap: 30px;

    .title{

      .icon{
        padding: 20px;

        & img{
          width: 30px;
          height: 30px;
        }
      }

      & h3{
        font-size: 20px;
      }
    }

    & p{
      font-size: 16px;
    }
  }

  @include breakpoint(desktop){
    padding: 60px;

  }

  @include breakpoint(large){
    gap: 30px;
    padding: 80px;

    .title{

      .icon{
        padding: 24px;

        & img{
          width: 40px;
          height: 40px;
        }
      }

      & h3{
        font-size: 26px;
      }
    }

    & p{
      font-size: 18px;
    }
  }

}